.header{
    padding: 69px;
    background-color:rgb(255, 248, 223);
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
/* .header_div{
    padding: 69px;
    background-color:rgb(255, 248, 223);
    display:flex;
    justify-content: space-evenly; // poprzedni tryb, nie wiem czy dobry więc zostawiam
} */                                                     
.subtitle{
    border: 3px solid rgb(29, 170, 47);
    padding: 69px;
    background-color:rgb(255, 248, 223);
    display:flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}
.subtitle_div{
    padding: 69px;
    background-color:rgb(255, 248, 223);
    display:flex;
    justify-content: space-evenly;
}
.gif{
    /* border:2px dashed orange; */
    margin: 3px;
    align-items: center;
    max-width: 20vw;
    /* margin: 2px; */
}
.gif_img{
    max-width: 100%;
    max-height: 100%;
}
.container{
    border: 3px solid rgb(255, 248, 223);
    padding: 69px;
    background-color:rgb(29, 170, 47);
    display:flex;
    justify-content: space-evenly;
    font-family: 'Oswald', sans-serif;
}
.preview{
    flex:6;
}
.desc{
    flex: 2;
}
.content{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 50%;
}
.footer{
    border: 3px solid rgb(29, 170, 47);
    padding: 21px;
    background-color:rgb(255, 248, 223);
    display:flex;
    justify-content: flex-end;
    font-family: 'Oswald', sans-serif;
}
.container_div{
    border:2ps dashed red;
    align-items: center;
}
h1{
    font-size:3em
}