.header{
    padding: 69px;
    background-color:rgb(255, 248, 223);
    display:flex;
    justify-content: center;
}
.header_div{
    padding: 69px;
    background-color:rgb(255, 248, 223);
    display:flex;
    justify-content: center;
}
.subtitle{
    border: 3px solid rgb(29, 170, 47);
    padding: 69px;
    background-color:rgb(255, 248, 223);
    display:flex;
    justify-content: center;
}
.subtitle_div{
    padding: 69px;
    background-color:rgb(255, 248, 223);
    display:flex;
    justify-content: center;
}
.container{
    border: 3px solid rgb(255, 248, 223);
    padding: 69px;
    background-color:rgb(29, 170, 47);
    display:flex;
    justify-content: space-around;
}
.footer{
    border: 3px solid rgb(29, 170, 47);
    padding: 21px;
    background-color:rgb(255, 248, 223);
    display:flex;
    justify-content: flex-end;
}
.container_div{
    border:2ps dashed red;
}