body{
    background-color:blanchedalmond;

    h2{text-align: center;}

    main{
        display: flex;
        justify-content: center;
        max-width: 60vw;
        margin: auto;

    div{
        background-color: rgb(0, 66, 3);
        border-radius: 3vh;
        flex: 1;
        display: grid;
        padding: 5vh;
        cursor: pointer;
        font-size: 9vh;
    }

    img{
        max-width: 100%;
        flex: 3;
    }
    footer{
        text-align: right;
    }
}
}