$fontcolor:rgb(191, 212, 245);
$backgrouncolor:rgb(167, 183, 119);


body{ 
    /* Patterny można brać ze strony toptal.com */
    background-image: url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja3/cw2/logo.png?raw=true);
    header{
        border:2px dashed red;
        h1{
            text-align: center;
            color: $fontcolor;
        }
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        border-color: aqua;
    }
    .container{
        main{
            color:green;
        }
        aside{
            color:orange;
        }
    }
    footer{
        color:gold;
    }
    .for{
        border: 2ps dahsed red;
        display: flex;
        padding: wrap;
    }
}